@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

$darkBlue: hsl(233, 47%, 7%);
$desaturatedBlue: hsl(244, 38%, 16%);
$violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$transparentWhite: hsla(0, 0%, 100%, 0.75);
$statHeadings: hsla(0, 0%, 100%, 0.6);

body {
  font-size: 0.938rem;
  font-family: 'Inter', sans-serif;
}

.component {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
  background-color: $darkBlue;
}

.card {

  max-width: 475px;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;
  border-radius: 1.5rem;
  background-color: $desaturatedBlue;

  &__image-section {

    position: relative;
    background-size: contain;
    display: block;

    &--image {
      width: 100%;
      height: 100%;
    }

    &--overlay {
      background-color: $violet;
      mix-blend-mode: multiply;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__header {
    color: $white;
    text-align: center;
    font-size: 2rem;

    &--span {
      color: $violet;
    }
  }

  &__text {
    color: $transparentWhite;
    line-height: 1.5rem;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
  }

  &__box {
    text-align: center;
  }

  &__title {
    color: $white;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 2rem;
  }

  &__subtitle {
    color: $transparentWhite;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
  }
}

@media (min-width: 1440px) {
  .card {
    flex-direction: row;
    max-width: 1024px;
    justify-content: space-between;

    &__image-section {
      order: 2;
      width: 100%;
      height: 100%;
    }

    &__title {
      order: 1;
    }

    &__header,
    &__text {
      text-align: start;
    }

    &__boxes {
      display: flex;
      justify-content: flex-start;
    }
  }
}